<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link rel="stylesheet" href="/static/CSS/StyleSheet.css">
</head>
<body>
    <header>
        <div class="bordered">
            <h1>LifeSpot - прямые трансляции с улиц</h1>
                <div class="search-form" action="" method="get">
                    <input name="s" placeholder="Поиск по названию" type="search">
                    <button type="submit">Поиск</button>
                </div>
            <p>Покажем, что происходит прямо сейчас</p>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dhVzWNos718?si=J1Z8HXjwVZ0LVKJn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="video-title">Лондон, автобусный маршрут</h3>
            </div>
        </div>
    </header>
    <aside id="sidebar">
        <div class="navbar">
            <p><a href=" https://localhost:5001/">Все трансляции</a></p>
            <p><a href=" https://localhost:5001/">О проекте</a></p>
        </div>
    </aside>
</body>
<footer>
    <style>
        footer {
            position: static;
            bottom: 0;
        }
    </style>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>